section.belarus#belarus-block
	.belarus_cover
		.section-title-wrap
			h2.section_title 1. Ох уж эта Беларусь
			.section-title_blur
	.container
		.belarus-content

			+communityCard(
				{
					id: '1',
					img: 'rent',
					name: 'Снять/сдать квартиру Минск',
					section: 'belarus',
					descr: 'В группе бесплатно публикуются объявления о съеме/сдаче жилья. Предложения от риэлторов/агентств не публикуются, администратор следит за флудом/оскорблениями, поэтому адуитория здесь лояльная.',
					link: 'https://vk.com/arenda_ohbelarus ',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

			+communityCard(
				{
					id: '2',
					img: 'baraholka',
					name: 'Барахолка',
					section: 'belarus',
					descr: 'За покупкой или продаже б/у вещей люди обращаются сюда. Всё, что имеет материальную ценность, можно найти в этой группе: от катушки для рыбалки до старого домика в деревне',
					link: 'https://vk.com/baraholka_ohbelarus ',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

			+communityCard(
				{
					id: '3',
					img: 'belarus',
					name: 'Ох уж эта Беларусь',
					section: 'belarus',
					descr: 'Информационное сообщество, которое вещает аудитории главные события Беларуси: праздники, происшествия, новинки кино, выставки, концерты, акции, розыгрыши, погоду, спортивные мероприятия. За этой группой следят все, кто хочет знать о главных событиях страны.',
					link: 'https://vk.com/ohbelarus',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

			+communityCard(
				{
					id: '4',
					img: 'carparts',
					name: 'Барахолка автозапчастей',
					section: 'belarus',
					descr: 'Автомобили на разборку, фары, спойлеры, двигателя, стекла и другие запчасти можно найти в этой группе.',
					link: 'https://vk.com/avtozapchasti_ohbelarus',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

			//- row 2
			+communityCard(
				{
					img: 'cars',
					name: 'Авто Барахолка',
					section: 'belarus',
					id: '5',
					descr: 'Продажа/покупка/обмен подержанных автомобилей в Вконтакте возможна благодаря AUTO BY. В подписчиках этой группы находятся как потенциальные покупатели, так и продавцы.',
					link: 'https://vk.com/auto_ohbelarus',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

			+communityCard(
				{
					img: 'date',
					name: 'Знакомства',
					section: 'belarus',
					id: '6',
					descr: 'В группе бесплатно публикуются объявления о съеме/сдаче жилья.Предложения от риэлторов или агентств не публикуются, администратор следит за флудом/оскорблениями, поэтому адуитория здесь лояльная.',
					link: 'https://vk.com/znakomstva_ohbelarus ',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

			+communityCard(
				{
					id: '7',
					img: 'flat',
					name: 'Вписки/Флеты Минск',
					section: 'belarus',
					descr: 'Нужно собрать большую компанию для тусовки? Найти единомышленников по празднику? Провести вечер в женской/мужской компании? — В этом сообществе люди могут удовлетворить именно такие запросы.',
					link: 'https://vk.com',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

			+communityCard(
				{
					img: 'giveaway',
					name: 'Отдам даром',
					section: 'belarus',
					id: '8',
					descr: 'В этом сообществе находятся меценаты и любители халявы. Так что, если нужно прорекламировать конкурс или найти людей, которые хотят много получать ничего не делая, то это сюда.',
					link: 'https://vk.com/darom_ohbelarus ',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

			+communityCard(
				{
					img: 'motor',
					name: 'Мото Барахолка',
					section: 'belarus',
					id: '9',
					descr: 'Продажа/покупка/обмен подержанных мотоциклов в Вконтакте возможна благодаря Moto BY. В подписчиках этой группы находятся как потенциальные покупатели, так и продавцы.',
					link: 'https://vk.com/moto_ohbelarus',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})
			+communityCard(
				{
					img: 'music',
					name: 'Купить/Продать Автозвук',
					section: 'belarus',
					id: '8',
					descr: 'Продажа/покупка/обмен акустических систем для автомобилей в Вконтакте возможна благодаря Auto Sound BY. В подписчиках этой группы находятся как потенциальные покупатели, так и продавцы.',
					link: 'https://vk.com/autosound_ohbelarus',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})
			+communityCard(
				{
					img: 'wheels',
					name: 'Купить/Продать Диски',
					section: 'belarus',
					id: '10',
					descr: 'Продажа/покупка/обмен подержанных дисков для автомобилей в Вконтакте возможна благодаря Diski BY. В подписчиках этой группы находятся как потенциальные покупатели, так и продавцы.',
					link: 'https://vk.com/autodiski_ohbelarus',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})
			+communityCard(
				{
					img: 'work',
					name: 'Найти работу',
					section: 'belarus',
					id: '11',
					descr: 'Публикация объявлений о работе/подработках в Минске через администратора. Поэтому здесь нет спама, только отобранные вакансии и ждущие своей работы подписчики.',
					link: 'https://vk.com/rabota_ohbelarus',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})
			+communityCard(
				{
					img: 'model',
					name: 'Ищу модель',
					section: 'belarus',
					id: '12',
					descr: '.',
					link: 'https://vk.com/model_ohbelarus ',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})
		//- button.show-more-btn.g-btn-secondary(data-section-name="belarus") Показать еще группы
		#belarus
		+form('belarus')

