section.belarus
	.belarus_cover
	.container
		h2.section_title 1. Ох уж эта Беларусь
		.belarus-content
			+communityCard(
				{
					img: 'sell',
					name: 'Снять/сдать квартиру Минск',
					section: 'belarus',
					id: '1',
					descr: 'В группе бесплатно публикуются объявления о съеме/сдаче жилья.Предложения от риэлторов или агентств не публикуются, администратор следит за флудом/оскорблениями, поэтому адуитория здесь лояльная.',
					link: 'https://vk.com',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})
		+form()

