section.cards
	.container
		.cards-content
			.card(data-aos="fade-up")
				img.card_img(data-aos="fade-up" src="static/img/general/follow.svg" alt="follow")
				h2.card_title
					span.card-count 10 000
					span +
				p.card_text Ежедневного прироста
			.card(data-aos="fade-up")
				img.card_img(data-aos="fade-up" src="static/img/general/money.svg" alt="money")
				h2.card_title
					span $
					span.card-count 100 000
					span +
				p.card_text Заказчики заработали с размещенной рекламы
			.card(data-aos="fade-up")
				img.card_img(data-aos="fade-up" src="static/img/general/like.svg" alt="like")
				h2.card_title
					span.card-count 3 000 000
					span +
				p.card_text Лояльной аудитории

		h2.big_title Рекламные площадки