section.fadeev
	.container
		h2.section_title 2. Владислав Фадеев
	.fadeev_cover
	//- 	p.cover-text Сооснователь брендинг агентства FVG
	//- 	p.cover-text Продвигает товары/услуги на мировом рынке
	//- 	p.cover-text Более 200 000 целевой аудитории в социальных сетях и мессенджерах

	.container
		.fadeev-content
			+socialCard({
				name: 'vk',
				subs: '125',
				reach: 5000000,
				sex: '50/50',
				age: '20-25',
			})
			+socialCard({
				name: 'ig',
				subs: '125',
				reach: 5000000,
				sex: '50/50',
				age: '20-25',
			})
			+socialCard({
				name: 'tg',
				subs: '125',
				reach: 5000000,
				sex: '50/50',
				age: '20-25',
			})
			+socialCard({
				name: 'yt',
				subs: '125',
				reach: 5000000,
				sex: '50/50',
				age: '20-25',
			})
		+formNoPrice('fadeev')

