section.football
	.container
	.football_cover
		h2.section_title 
		.section-title-wrap
			h2.section_title 3. Футбол в наших сердцах
			.section-title_blur
	.container
		.football-content

			+communityCard(
				{
					id: '1',
					img: '1',
					name: 'Снять/сдать квартиру Минск',
					section: 'football',
					descr: 'В группе бесплатно публикуются объявления о съеме/сдаче жилья.Предложения от риэлторов или агентств не публикуются, администратор следит за флудом/оскорблениями, поэтому адуитория здесь лояльная.',
					link: 'https://vk.com',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

			+communityCard(
				{
					id: '2',
					img: '2',
					name: 'Барахолка',
					section: 'football',
					descr: 'В группе бесплатно публикуются объявления о съеме/сдаче жилья.Предложения от риэлторов или агентств не публикуются, администратор следит за флудом/оскорблениями, поэтому адуитория здесь лояльная.',
					link: 'https://vk.com',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

			+communityCard(
				{
					id: '3',
					img: '3',
					name: 'Ох уж эта Беларусь',
					section: 'football',
					descr: 'В группе бесплатно публикуются объявления о съеме/сдаче жилья.Предложения от риэлторов или агентств не публикуются, администратор следит за флудом/оскорблениями, поэтому адуитория здесь лояльная.',
					link: 'https://vk.com',
					ig:{
						subs: 100,
						sex: '50/50',
						age: '25-30',
					},
					tg:{
						subs: 50,
						sex: '90/10',
						age: '30-35',
					},
					vk:{
						subs: 150,
						sex: '70/30',
						age: '20-40',
					},
				})

		+formNoPrice('football')
