section.hero
	.container
		a.hero-call(href="tel:+375000000000") +375 (29) 134 53 25
		btn.hero-cta Заказать<br> рекламу


.first-grad
	a(href="#belarus-block").heading-title Рекламные площадки

.second-grad
