section.multitude
	.container
	.multitude_cover
		.section-title-wrap
			h2.section_title 3. Multitude 
			.section-title_blur
	//- 	p.cover-text Группа в VK с авторскими фотографиями от авторов со всего мира и широким ассортиментом товаров:  картины, услуги фотографов, роспись одежды.

	//- 	p.cover-text Здесь рекламу заказывают те, кто хочет продать всё, что как-либо связано с искусством.

	.container
		.multitude-content
			+socialCard({
				name: 'vk',
				subs: '125',
				reach: 5000000,
				sex: '50/50',
				age: '20-25',
			})
			+socialCard({
				name: 'ig',
				subs: '125',
				reach: 5000000,
				sex: '50/50',
				age: '20-25',
			})
			+socialCard({
				name: 'tg',
				subs: '125',
				reach: 5000000,
				sex: '50/50',
				age: '20-25',
			})
		+formNoPrice('multitude')
