@import 'header/header.styl'

@import 'footer/footer.styl'


@import 'components/components.styl'

@import 'controls/controls.styl'

@import 'hero/hero.styl'

@import 'cards/cards.styl'

@import 'belarus/belarus.styl'

@import 'fadeev/fadeev.styl'

@import 'multitude/multitude.styl'

@import 'football/football.styl'

@import 'modals/modals.styl'

@import 'footer-slider/footer-slider.styl'



