// colors BEGIN
c-prim = #F2242C
c-second = green

c-f--on-content = #fff
c-f = #232323
c-f-secondary = #868686;


c-bg = #f8f8f8
c-surface = #fff


// socials

c-vk = #437DC3
c-vk--d = #2E4E75
c-tg = #0087C8
c-tg--d = #0077B2
c-ig = #ED4E66
c-ig--d = #CC0055
c-yt = #ED1B1B

s1 = 26px
s2 = 62px
s22 = 68px
s2x = 124px


f-gdpr = 12px
f-regular = 18px
f-subtitle = 24px
f-title = 36px
f-soc-card-sub = 39px
f-section-title = 50px


lh = 1.8

desktop = 1200px
laptopDesktop = 1199px
tabletPor = 768px
tabletLand = 991px
lsTabletLand = 992px
phonePor = 360px
phoneLand = 767px


// ШРИФТЫ

mainFont = Montserrat


/*
	snippets

	sme - medias
	si - import
	skf - keyframe
	sff - font-face

	pi - include pug
	ps - seciton
	pm - pug mixin
	ppic - picture

*/