.fadeev
	margin-bottom 144px
.fadeev_cover
	width 100vw
	height 480px
	margin-bottom 60px
	background-size cover
	background-position center 0
	background-image url(../img/content/vlad-bg.jpg)
	border-radius 32px
	display flex
	align-items flex-start
	flex-direction column
.cover-text
	margin-bottom 16px
	color c-f--on-content
	font-weight 600
	max-width	460px
	line-height 1.5
.fadeev-content
	display flex
	justify-content space-around
	flex-wrap wrap
	gap	26px
	margin-bottom 40px

@media (max-width 480px)
	.fadeev_cover
	.belarus_cover
	.multitude_cover
	.football_cover
		height 280px
	.fadeev_cover
	.multitude_cover
	.football_cover
		margin-top auto

	.fadeev_cover .section-title-wrap{
		margin-top: auto;
	}
