.fadeev
	margin-bottom 144px
.fadeev_cover
	width 100vw
	height 480px
	margin-bottom 60px
	background-size cover
	background-position center 0
	background-image url(../img/vlad-bg-normal.webp)
	display flex
	align-items flex-start
	flex-direction column
	justify-content flex-end
	padding-left 250px
	padding-bottom 50px
.cover-text
	margin-bottom 16px
	color c-f--on-content
	font-weight 600
	max-width	460px
	line-height 1.5
.fadeev-content
	display flex
	justify-content space-around
	flex-wrap wrap
	gap	26px
	margin-bottom 40px

@media (max-width 480px)
	.fadeev_cover
	.belarus_cover
	.multitude_cover
	.football_cover
		height 280px
