.belarus
	margin-bottom 144px
.belarus_cover
	width 100vw
	height 480px
	margin-bottom 60px
	background-size 150%
	background-position center center
	background-image url(../img/belarus-bg-normal.webp)
.belarus-content
	display flex
	justify-content space-between
	flex-wrap wrap
	gap	26px
	margin-bottom 40px

@media (max-width 480px)
	.belarus-content
		justify-content center
	.belarus_cover
	.multitude_cover
		height 130px !important

