.football
	margin-bottom 144px
.football_cover
	width 100vw
	height 480px
	margin-bottom 60px
	background-size cover
	background-position center center
	background-image url(../img/content/football-bg.png)
	display flex
	align-items flex-start
	flex-direction column
	justify-content flex-end
.football-content
	display flex
	justify-content space-around
	flex-wrap wrap
	gap	26px
	margin-bottom 40px

// @media (max-width: 480px)
//	.football_cover .section-title-wrap {
//		max-width: 90%;
//	}
